@font-face {
  font-family: BYekan;
  src: url("./assets/font/BYekan.ttf");
  font-weight: normal;
}
@font-face {
  font-family: BYekan;
  src: url("./assets/font/BYekanBold.ttf");
  font-weight: bold;
}
*{
  font-family: BYekan;
}
html,body,#root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
